@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--theme: #0d1117;

	--color-1: #69696940;
	--color-2: #69696980;

	--article-hover: rgb(44, 49, 63, 0.3);

	--shade-1: #eaeaea;
	--shade-2: #999;
	--shade-3: #c9d1d9;
	
}

::-webkit-scrollbar {
	width: 6px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	@apply bg-color-2;
}

.prose strong {
	color: var(--shade-1);
}

pre,
code {
	@apply font-code;
}

[data-rehype-pretty-code-fragment] {
	@apply relative;
}

div[data-rehype-pretty-code-title][data-theme='light'],
div[data-rehype-pretty-code-fragment] pre[data-theme='light'],
div[data-rehype-pretty-code-fragment] pre[data-theme='light']~button {
	@apply block dark:hidden;
}

div[data-rehype-pretty-code-title][data-theme='dark'],
div[data-rehype-pretty-code-fragment] pre[data-theme='dark'],
div[data-rehype-pretty-code-fragment] pre[data-theme='dark']~button {
	@apply hidden dark:block;
}

span[data-rehype-pretty-code-fragment] code[data-theme='light'] {
	@apply inline dark:hidden;
}

span[data-rehype-pretty-code-fragment] code[data-theme='dark'] {
	@apply hidden dark:inline;
}


a.animated {
	color: var(--shade-1);
	@apply relative after:absolute after:bg-neutral-400 dark:bg-neutral-600 after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-left after:scale-x-100 hover:after:origin-bottom-right hover:after:scale-x-0 after:transition-transform after:ease-in-out after:duration-300
}