@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--gitonga-bg: #fff;
	--gitonga-fg: #0d1117;

	--shade-1: #eaeaea;
	--shade-2: #999;
	--shade-3: #6b7280;
	--shade-4: #fafafa;
	--shade-5: #eaeaea;
}

.dark:root {
	--gitonga-bg: #0d1117;
	--gitonga-fg: #fff;

	--shade-1: #1f2937;
	--shade-2: #4b5563;
	--shade-3: #9ca3af;
}

::-webkit-scrollbar {
	width: 6px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	@apply bg-gitonga-fg;
}

pre,
code {
	@apply !font-code;
}

[data-rehype-pretty-code-fragment] {
	@apply relative;
}

div[data-rehype-pretty-code-title][data-theme='light'],
div[data-rehype-pretty-code-fragment] pre[data-theme='light'],
div[data-rehype-pretty-code-fragment] pre[data-theme='light']~button {
	@apply block dark:hidden;
}

div[data-rehype-pretty-code-title][data-theme='dark'],
div[data-rehype-pretty-code-fragment] pre[data-theme='dark'],
div[data-rehype-pretty-code-fragment] pre[data-theme='dark']~button {
	@apply hidden dark:block;
}

span[data-rehype-pretty-code-fragment] code[data-theme='light'] {
	@apply inline dark:hidden;
}

span[data-rehype-pretty-code-fragment] code[data-theme='dark'] {
	@apply hidden dark:inline;
}